[buildout]
newest = false
extensions = gp.vcsdevelop
parts = eggs
develop = .

[eggs]
recipe = zc.recipe.egg
eggs =
    Sphinx
    waitress
    aiowsgi

[tests]
recipe = zc.recipe.egg
eggs =
    aiowsgi[test]
dependent-scripts = true
scripts = nosetests
